/* Estilos globales */
:root{
   /* Colores */
   --color-primario: #045387;
   --color-secundario: #06a1d1;
   --color-negro: #000;
   --color-blanco: #fff;
   --color-gris: #808080;
   --color-columna-izquierda: #dadada;
   --color-columna-derecha: #E5E4E2;
}


/* Estilos de la estructura del documento */
.cuerpo-cv{
   width: 793.695px; height: 1122.5115px;
   margin: auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.columna-izquierda{
   background-color: var(--color-columna-izquierda);
   width: 309.919px; height: 1046.9215px;
   margin-left: auto;
   margin-top: 37.795px;
   padding: 18.8975px;
   box-shadow: -1px -1px 5px 0.1px var(--color-gris);
}

.columna-derecha{
   background-color: var(--color-columna-derecha);
   width: 309.919px; height: 1046.9215px;
   padding: 18.8975px;
   margin-bottom: 37.795px;
   box-shadow: 1px 1px 5px 0.1px var(--color-gris);
}

.separacion{
   margin-top: 75.59px;
}


/* Estilos de las etiquetas */
h1{
   font-family: 'Times New Roman', Times, serif;
   font-size: 24px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   color: var(--color-blanco);
   background-color: var(--color-primario);
   width: auto; height: auto;
   padding: 5px 0px;
   margin: 0px;
   margin-top: 20px;
   margin-bottom: 10px;
   border-radius: 50px;
   box-shadow: 2px 2px 5px 2px var(--color-gris);
}

fieldset{
   margin-top: 5px;
   border: 2px solid var(--color-primario);
   box-shadow: 1px 1px 1px 0.5px var(--color-gris);
}

legend{
   font-family: 'Times New Roman', Times, serif;
   font-size: 18.6666667px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   color: var(--color-primario);
   background-color: var(--color-columna-derecha);
   padding: 0px 5px 5px 5px;
   margin: 5px 0px 0px 0px;
}

p{
   margin: 4px;
}


/* Estilos de titulo */



/* Estilos de texto */
.dp-campo, 
.rp-nombre, 
.e-centro,
.c-titulacion, .c-estado, 
.i-estado, .i-idioma, .i-nivel,
.el-empresa, .el-descripcion{
   font-family: 'Times New Roman', Times, serif;
   font-size: 16px;
   line-height: 20px;
   color: var(--color-negro);
}

.dp-informacion, 
.rp-telefono, 
.e-titulacion, .e-periodo, .e-periodo-fecha,
.c-centro, .c-finalizacion,
.i-centro, .i-periodo, .i-periodo-fecha, .i-calificacion, 
.el-periodo, .el-nombre-referente, .el-telefono-referente{
   font-family: 'Times New Roman', Times, serif;
   font-size: 13.3333333px;
   line-height: 18px;
   color: var(--color-negro);
}

.aviso-cv{
   font-family: 'Times New Roman', Times, serif;
   font-size: 12px;
   line-height: 15px;
   color: var(--color-negro);
}


/* Estilos generales en todas las secciones */
.dp-campo, .dp-informacion, 
.rp-nombre, .rp-telefono,
.e-centro, .e-estado, .e-titulacion, .e-periodo, .e-periodo-fecha,
.c-titulacion, .c-estado, .c-centro, .c-finalizacion,
.i-idioma, .i-estado, .i-centro, .i-periodo, .i-calificacion, .i-nivel, .i-periodo-fecha,
.el-empresa, .el-periodo, .el-descripcion, .el-nombre-referente, .el-telefono-referente,
dl{
   margin: 0px;
}

.dp-informacion, 
.rp-nombre, .rp-telefono, 
.e-centro, .e-periodo-fecha, .e-titulacion,
.c-titulacion, .c-centro, .c-finalizacion,
.i-idioma, .i-nivel, .i-periodo-fecha,
.el-empresa, .el-descripcion, .el-nombre-referente, .el-telefono-referente {
   font-weight: bold;
}

.dp-informacion, 
.e-titulacion, 
.c-centro,
.el-empresa {
   text-transform: uppercase;
}

.dp-informacion, 
.rp-telefono,
.e-periodo,
.c-finalizacion,
.i-calificacion{
   margin-bottom: 1.5px;
   border-bottom: 1px solid var(--color-primario);
}


/* Fotografia */
.fotografia-cv{
   text-align: center;
   margin-top: 10px;
}

.f-fotografia{
   width: 143.621px; height: 188.975px;
   border: 3.02362205px solid var(--color-primario);
   box-shadow: 2px 2px 5px 2px var(--color-gris);
}


/* Datos personales */


/* Referencias personales */

.aviso-cv{
   text-align: center;
   color: var(--color-blanco);
   background-color: var(--color-gris);
   padding: 0.5px;
   margin: 0px;
   margin-top: 50px;
   border: 1px solid var(--color-negro);
   box-shadow: 1px 1px 1px 0.5px var(--color-gris);
}


/* Estudios */
.estudios-cv{
   margin-top: 40px;
}


/* Cursos */

.c-finalizacion{
   text-transform: lowercase;
}


/* Idiomas */


/* Experiencia laboral */

   /* Estructura de la linea de tiempo */
      .linea-vertical ul li{
         position: relative;
         width: 3px;
         background-color: var(--color-primario);
         list-style-type: none;
         padding-bottom: auto;
         margin-left: -30px;
         margin-bottom: auto;
         border-radius: 20px 0px 0px 0px;
      }

      .linea-vertical ul li::after{
         content: '';
         position: absolute;
         width: 15px; height: 15px;
         background-color: var(--color-secundario);
         top: 0px;
         margin-left: 50%;
         border-radius: 50%;
         transform: translateX(-50%);
      }

      .linea-vertical ul li .punto{
         position: relative;
         width: 280px;
         padding-bottom: 10px;
         margin-left: 20px;
      }

.el-recuadro-referente{
   padding-left: 10px;
   margin-top: 5px;
   border: 1px solid var(--color-primario);
   box-shadow: 1px 1px 1px 0.5px var(--color-gris);
}

.el-nombre-referente{
   margin-top: 5px;
}

.el-telefono-referente{
   margin-bottom: 5px;
}